- if session[:user_type] == 'admin'
	%nav
		= image_tag "logo.png", class: 'logo_button'
		%ul

	.dropdown
		%input.dropdown-toggle{:type => "text"}
		.dropdown-text Account
		%ul.dropdown-content
			%li
				= link_to 'Settings', class: 'setting_dropdown'
			%li
				Value
			%li
				= link_to 'Logout', welcome_destroy_path, :method => :delete, class: 'setting_dropdown'
	%div.list
		%strong.year Select competition year :
		%p
	
		- y = Year.all
		- y.each do |p|
			= #link_to p.year_no, year_competitions_path(p.id)
			
		%ul.navigation
			%a.main{:href => "#url"} Competition Years
			%li.n1
				- id_year = Year.where("year_no"=>2015).uniq.pluck(:id)
				%a{:href => year_competitions_path(:year_id=>id_year)} 2015
			%li.n2
				- id_year = Year.where("year_no"=>2016).uniq.pluck(:id)
				%a{:href => year_competitions_path(:year_id=>id_year)} 2016
			%li.n3
				- id_year = Year.where("year_no"=>2017).uniq.pluck(:id)
				%a{:href => year_competitions_path(:year_id=>id_year)} 2017
			%li.n4
				- id_year = Year.where("year_no"=>2018).uniq.pluck(:id)
				%a{:href => year_competitions_path(:year_id=>id_year)} 2018
			%li.n5
				- id_year = Year.where("year_no"=>2019).uniq.pluck(:id)
				%a{:href => year_competitions_path(:year_id=>id_year)} 2019
  
				
- elsif session[:user_type] == 'judge'	
